
<body class= "toolkit">
<div class="container-xl"id="tools">
  <div class= "container-fluid" >
    <h1 id="main" class="text">Activist<br>Toolkit</h1>
    <%= image_tag("toolkit1.jpg", :alt => "" , :class => "tool") %>
  </div>
  </div>
    <div class="col-sm-3" id="col1">Busey ipsum dolor sit amet. Listen to the silence. And when the silence is deafening, you're in the center of your own universe.Go with the feeling of the nature. Take it easy. Know why you're here. And remember to balance your internal energy with the environment.You ever roasted doughnuts?</div>

    <div class="col-sm-3" id="col2">Did you feel that? Look at me - I'm not out of breath anymore!The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex of the heart.Go with the feeling of the nature. Take it easy. Know why you're here. And remember to balance your internal energy with the environment.</div>

    <!-- <div class="col-sm-3" id="col3">The best way to communicate is compatible. Compatible communication is listening with open ears and an open mind, and not being fearful or judgemental about what you're hearing.Listen to the silence. And when the silence is deafening, you're in the center of your own universe.</div>
    
    <div class="col-sm-3" id="col4">When you get lost in your imaginatory vagueness, your foresight will become a nimble vagrant.These kind of things only happen for the first time once.Listen to the silence. And when the silence is deafening, you're in the center of your own universe.</div> -->
</div>

<h2 class ="sign">Sign Examples</h2>




</body>




