<h2><span id="staysSame">We give you the resources to</span>
<br> <span id ="changer">  protest safer</span></h2>

<%= video_tag "protest.mp4", autoplay: true, loop: true, muted: true, playsinline: true, class: "home_video" %>



