



<h1 class="welcome"> <u class="pro">PRO</u></div>tester </h1>
<h2>We give you the resources to<span>protest safer</span></h2>

<%= video_tag "protest.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>



