<div class="container">
  <h1 class="donation-text" id="donation-header" class="text">Please consider donating to the following causes:</h1>

  <div class ="flex-img-container">
    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
        <a href="https://secure.givelively.org/donate/the-bail-project">
          <img class='flex-img' src='thumbnails/bailproject.png'>
        </a>
      </div>
        <p class="donation-text"> The Bail Project™ National Revolving Bail Fund is on a mission to combat mass incarceration and reshape the pretrial system in the United States.  </p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
        <a href="https://www.facebook.com/blacklivesmatterpdx/">
          <img class='flex-img' src='thumbnails/blmpdx.png'>
        </a>
      </div>
      <p class="donation-text"> Help fund Black Lives Matter PDX efforts to lead, coordinate, and direct people to local protest actions, while increasing awareness of racial injustice and holding city and state officials accountable. </p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://www.blackresiliencefund.com/">
        <img class='flex-img' src='thumbnails/RBF.png'>
      </a>
    </div>
      <p class="donation-text"> The Black Resilience Fund is an emergency fund that focuses on helping Black families and individuals pay rent, bills, get grocerices, reduce debt and more.</p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://www.joincampaignzero.org/">
          <img class='flex-img' src='thumbnails/campaignzero.png'>
        </a>
      </div>
       <p class="donation-text"> Campain Zero is a national organization dedicated to police reform at all levels and introducing/enacting policy changes and legisation aimed at holding police accountable for violent actions. </p>
    </div>
    
    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://www.dontshootpdx.org/">
          <img class='flex-img' src='/thumbnails/Dont-Shoot-Portland-Logo.png'>
        </a>
      </div>
      <p class="donation-text"> Don't Shoot PDX is a community advocacy group specializing in education workshops and outreach programs focused on changing police policy and ending systemic discrimination.</p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://eji.org/">
          <img class='flex-img' src='/thumbnails/logo-eji.png'>
        </a>
      </div>
      <p class="donation-text"> The Equal Justice Initiative is an organization dedicated to ending mass incarceration and economic and racial injustice, and protecting America's most vulnerable. </p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://pdxnaacp.org/get-involved/">
          <img class='flex-img' src='/thumbnails/naacp.png'>
        </a>
      </div>
      <p class="donation-text"> The NAACP mission is to ensure the political, educational, social and economic equality of rights of all persons, and eliminate racial hatred and discrimination.</p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://www.flipcause.com/secure/donate/MzU2NDA=">
          <img class='flex-img' src='thumbnails/unitedfund.png'>
        </a>
      </div>
      <p class="donation-text"> The Black United Fund of Oregon was created in 1983 by community leaders in North and Northeast Portland to combat inequality in Portland by channeling charitable funds to low-income areas in the city. </p>
    </div>

    <div class ="flex-img-container flex-item">
      <div class="flex-item flex-img">
      <a href="https://ulpdx.org/">
          <img class='flex-img' src='/thumbnails/urbanleague.png'>
        </a>
      </div>
      <p class="donation-text"> Urban League of Portland is one of the oldest civil rights and social services organizations, aiming to empower Black communities through housing, workforce development, community health, and social reform.</p>
    </div>
  </div>
</div>