<div class="container">
  <h1 id="main" class="text">From here you can find black owned businesses in your community to go out and support.</h1>
  <ul class='no-bullet'>
  <% @businesses.each do |business| %>
  <li><%= link_to business['name'], support_path(business['id']) %></li>
  <% end  %>
  </ul>
</div>
<br>



