@import "bootstrap-sprockets";
@import "bootstrap";


// styling for video, found on pages#index
.home_video {
  width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
  height: 100vh;
  display: flex;
  }
  
// styling for application layout

body {
  background-color: lightskyblue;
  font-family:'bebas neue',serif;
  text-decoration: none;
}
.topnav {
  font-family:'bebas neue',serif;
  overflow: hidden;
  background-color: #333;
  position: relative;
}
#home_link {
  background-color: #f5cb5c;
  color: black;
} 
.logo{
  width:115px;
  height:100px;
}
.topnav #myLinks {
  font-family:'bebas neue',serif;
  display: none;
  text-align: center;
}
.topnav a {
  font-family:'bebas neue',serif;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
 .link_tab:hover {
  background-color: #ddd;
  // color: black;
}
#footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  color:black;
  background-color:#f5cb5c;
}
// styling for pages#index
#blink_text{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top:200px;
}
#changer{
  color:gold;
  padding: 0;
}
// styling for home.js text fade effect for words on pages#index
.fadeOut{
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px); 
  -moz-transform: translate(0,-50px);
}
// styling for tools#index
.toolkit{
  background-color:#4F5D75;
  font-family:'bebas neue',serif;
}
#tools{
  background-color: rgb(225, 225, 225);
  height:200px;
}
#tools_head{
  text-align: right;
  font-weight:bold;
  padding-right: 10%;
  padding-top:10px;
  font-size: 70px;
} 
#toolkit_head {
  font-size: 40%;
  margin-right: 5%;
  font-weight: lighter;
}
.container2{
  margin-top: -18%;
  margin-left:.5%;
  margin-bottom:20%;
  width:700px;
  height:300px;
}
.sign{
  margin-left:100px;
  margin-top:70%;
  color:whitesmoke;
}
.item, .image{
  overflow: hidden;
  object-fit: contain;
  width:700px;
  height:500px;
}
#list_row {
  display: inline-block;
  width: 80%;
  margin-top: -180%;
  margin-left: -50%;
  height: 60%;
}
.chant{
  margin-left:100px;
  color:white;
  font-family:'bebas neue',serif;
}
.container3{
  display: inline-block;
  flex-direction: column;
  margin-left: 0%;
  margin-top: -15%;

}
.video{
  margin-bottom:20px;
  padding-left:10px;
  width:300px;
  height:200px;
}
// #list_row {

// }
.col-sm-3 {
  position: absolute;
  top: -260%;
  left: 120%;
  margin: 1%;
  flex-basis: auto;
  font-weight: bold;
  background-color: rgb(225, 225, 225);
  color: black;
  height: 40%;
}
// styling for supports#index

.mapsApi{
  display: block;
  margin-bottom: 7%;
}


a{
  color: black;
}
li{
  margin-top: 4%;
  margin-bottom: 4%;
}
.business-header {
  text-align: center;
  font-size: 105px;
  color: black;
}
// styling for supports#show
.business-category {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: black;
}
// mutual styling in supports#index & #show
.no-bullet{
  list-style-type: none;
  font-size: x-large;
  margin-left: 0;
  margin-right: 0;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 0;
  text-align: center;
}


img.demo {
  opacity: 0.6;

}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



// styling for mobile view
@media screen and (max-width: 700px) and (min-width: 300px) {
  // styling for application layout
  .topnav a {
    font-size: 30px;
  }
// styling for pages#index
  #blink_text, #changer{
    font-size: 65px;
  }

// styling for tools#index
#tools_head{
  text-align: left;
  padding-left:30px;
  padding-right: 15%;
  padding-top:10px;
  font-size: 50px;
} 
#toolkit_head {
  margin-left: 16%;
}
.container2{
  margin-top: -28%;
  margin-left:.5%;
  margin-bottom:5%;
  width:400px;
  height:80px;
  background: none;
}
.item, .image{
  overflow: hidden;
  width:100%;
  height:100%;
  object-fit: contain;
}
#list_row {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: -108.5%;
  margin-left: 84%;
  height: 40%;

}
.col-sm-3 {
  font-size: 90%;
  align-self: flex-start;
  font-weight: bold;
  height: 35%;
  
}
.container3{
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  width: 80%;
}

}


