@import "bootstrap-sprockets";
@import "bootstrap";

.home_video {
  width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
  height: 100vh;
  display: flex;
  }
  

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.welcome{
  text-align: center;
}

body {
  background-color: lightskyblue;
  font-family:'bebas neue',serif;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.welcome{
  font-size: 55px;
  margin-right:500px;
  margin-top: 200px;
  color:whitesmoke;
}
h2{
  text-align: center;
}
h2 span{
color:gold;
}
.pro{
  font-size: 100px;
  color:whitesmoke;
}