@import "bootstrap-sprockets";
@import "bootstrap";



.home_video {
  width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
  height: 100vh;
  display: flex;
  }
  

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}


.topnav #myLinks {
  display: none;
  text-align: center;
}


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}


.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


 .link:hover {
  background-color: #ddd;
  color: black;
}

#linkTag {
  position: fixed;
  left: 49.5%;
  top: 5%;
  color:black;
}

.active {
  background-color: #f5cb5c;
  color: black;
}

 #main{
  text-align: right;
  padding-right: 20%;
  padding-top:10px;
  font-size: 100px;
} 
#openbtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

body {
  background-color: lightskyblue;
  font-family:'bebas neue',serif;
}

#changer{
  color:gold;
  padding: 0;
}

#footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  color:black;
  background-color:#f5cb5c;
}


h2{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top:200px;
}

.fadeOut{
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px); 
  -moz-transform: translate(0,-50px);
}

.logo{
  width:115px;
  height:100px;
}
.logo1{
  width:300px;
  height:300px;
}

footer {
  color:red;
}
#tools{
  background-color: rgb(225, 225, 225);
  height:300px;
}
.tool{
  left:80px;
  margin-top:-300px;
  right: 10%;
  width:550px;
  height:290px;
}

.toolkit{
  background-color:#4F5D75;
}
#img-c {
  margin-top: 60%;
}
.sign{
  margin-left:100px;
  margin-top:60%;
}
.container2{
  margin-left:50%;
  margin-bottom:20%;
  width:700px;
  height:300px;
}

.item, .image{
  overflow: hidden;
  width:700px;
  height:500px;
}



@media screen and (max-width: 900px) and (min-width: 480px) {
  .topnav a {font-size: 100px;}

  #staysSame{
    color:white;
    font-size: 65px;
  }

  h2 span{
    font-size: 65px;
    }

  .welcome {font-size: 18px;
          margin-top: 10%;
          transition: margin-left .5s;
  }
  .tool{
  
  margin-top:-175px;
  left:0px;
  right: 10%;
  width:300px;
  height:290px;
}
#main {
  font-size: 50px;
}

}

