@import "bootstrap-sprockets";
@import "bootstrap";

.home_video {
  width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
  height: 100vh;
  display: flex;
  }
  

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}


.topnav #myLinks {
  display: none;
  text-align: center;
}


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}


.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#linkTag {
  position: fixed;
  left: 49.5%;
  top: 5%;
  color:black;
}


.active {
  background-color: #f5cb5c;
  color: black;
}
.text{
  text-align: center;
  
}
#main{
  transition: margin-left .5s;
}
#openbtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

body {

  background-color: lightskyblue;
  font-family:'bebas neue',serif;

}

#staysSame {
 color: white;
 padding: 0;
}

#changer{
  color:gold;
  padding: 0;
}

#footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  color:black;
  background-color:gold;
}


h2{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top:200px;
}

.fadeOut{
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px); 
  -moz-transform: translate(0,-50px);
}

.logo{
  width:115px;
  height:100px;
}
.logo1{
  width:300px;
  height:300px;
}
footer {
  color:red;
}


@media screen and (max-width: 900px) and (min-width: 480px) {
  .topnav a {font-size: 100px;}

  #staysSame{
    color:white;
    font-size: 65px;
  }

  h2 span{
    font-size: 65px;
    }

  .welcome {font-size: 18px;
          margin-top: 10%;
          transition: margin-left .5s;
  }

}

// MODAL IMAGES CSS
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}