@import "bootstrap-sprockets";
@import "bootstrap";


// styling for video, found on pages#index
.home_video {
  width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
  height: 100vh;
  display: flex;
  }
  
// styling for application layout

body {
  background-color:#4F5D75;
  font-family:'bebas neue',serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
#home_link {
  background-color: #f5cb5c;
  color: black;
} 
.logo{
  width:115px;
  height:100px;
}
.topnav #myLinks {
  display: none;
  text-align: center;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
 .link_tab:hover {
  background-color: #ddd;
  color: black;
}
#footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  color:black;
  background-color:#f5cb5c;
}
// styling for pages#index
#blink_text{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top:200px;
}
#changer{
  color:gold;
  padding: 0;
}
// styling for home.js text fade effect for words on pages#index
.fadeOut{
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px); 
  -moz-transform: translate(0,-50px);
}
// styling for tools#index
.toolkit{
  background-color:#4F5D75;
}
#tools{
  background-color: rgb(225, 225, 225);
  height:200px;
}
#tools_head{
  text-align: right;
  padding-right: 20%;
  padding-top:10px;
  font-size: 70px;
} 
.container2{
  margin-top: -18%;
  margin-left:.5%;
  margin-bottom:20%;
  width:700px;
  height:300px;
}
.sign{
  margin-left:100px;
  margin-top:60%;
}
.item, .image{
  overflow: hidden;
  width:700px;
  height:500px;
}
#tool_list {
  display: flex;
  width: 100%;
  height: 64%;
}
// #list_row {

// }
.col-sm-3 {
  position: absolute;
  top: -260%;
  left: 120%;
  margin: 1%;
  flex-basis: auto;
  font-weight: bold;
  background-color: rgb(225, 225, 225);
  color: black;
  height: 40%;
}
// styling for supports#index

.mapsApi{
  display: block;
  margin-bottom: 7%;
  text-align: center;
}

a{
  color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover {
  color: #f5cb5c
}

li{
  margin-top: 4%;
  margin-bottom: 4%;
}

#support-container {
  color: white;
}


.business-header {
  text-align: center;
  font-size: 105px;
  color: #f5cb5c;
  text-shadow: 2px 2px 2px #000000;
}
// styling for supports#show
.business-category {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: #f5cb5c;
  text-shadow: 2px 2px 2px #000000;
}
// mutual styling in supports#index & #show
.no-bullet{
  list-style-type: none;
  font-size: x-large;
  margin-left: 0;
  margin-right: 0;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 0;
  text-align: center;
}

//styling for donations page

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-img-container {
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  border-radius: 10px;
}

.flex-item {
  min-width: 300px;
  max-width: 300px;
  margin: 10px;
  background-color: #f5cb5c;
  min-height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.flex-item:hover .flex-img {
  opacity: 0.7;
}

.flex-img {
  min-width: 280px;
  min-height: 280px;
  max-width: 280px;
  max-height: 280px;
  align-self: center;
  border-radius: 10px;
  transition: .5s ease;
  backface-visibility: hidden;
}

#donation-header{
  color: white;
  font-size: 65px;
}
.donation-text {
  text-align: center;
  color: black;
  padding: 8px;
}



// styling for mobile view
@media screen and (max-width: 700px) and (min-width: 300px) {
  // styling for application layout
  .topnav a {
    font-size: 100px;
  }
// styling for pages#index
  #blink_text, #changer{
    font-size: 65px;
  }

// styling for tools#index
#tools_head{
  text-align: left;
  padding-right: 20%;
  padding-top:10px;
  font-size: 50px;
} 
.container2{
  margin-top: -28%;
  margin-left:.5%;
  margin-bottom:20%;
  width:400px;
  height:100px;
}
.item, .image{
  overflow: hidden;
  width:400px;
  height:300px;
}
#tool_list {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  width: 100%;
  height: 280%;
}
#list_row {
  margin-left: 57%;
  margin-top: 76%;
  margin-bottom: .5%;
  width: 40%;
  height: 80%;
  
}
.col-sm-3 {
  font-size: 90%;
  align-self: flex-start;
  font-weight: bold;
  height: 35%;
  
}

}


