<h1 class="business-header">Activist Toolkit</h1>
<!-- Images used to open the lightbox -->
<div>
  <div class="flex-container" id="lightbox_thumbs">
    <div class="flex-info-thumb">
      <img src="infographics/protest_before_thumb.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
    </div>
    <div class="flex-info-thumb">
      <img src="infographics/protest_bring_thumb.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
    </div>
    <div class="flex-info-thumb">
      <img src="infographics/protest_wear_thumb.png" onclick="openModal();currentSlide(2)" class="hover-shadow">
    </div>
    <div class="flex-info-thumb">
      <img src="infographics/protest_do_thumb.png" onclick="openModal();currentSlide(3)" class="hover-shadow">
    </div>
    <div class="flex-info-thumb">
      <img src="infographics/protest_violence_thumb.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
    </div>
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="mySlides">
      <div class="numbertext">1 / 5</div>
      <img src="infographics/protest_before.png" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">2 / 5</div>
      <img src="infographics/protest_bring.png" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">3 / 5</div>
      <img src="infographics/protest_wear.png" style="width:100%">
    </div>
     <div class="mySlides">
      <div class="numbertext">4 / 5</div>
      <img src="infographics/protest_do.png" style="width:100%">
    </div>
     <div class="mySlides">
      <div class="numbertext">5 / 5</div>
      <img src="infographics/protest_violence.png" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="past" onclick="plusSlides(-1)">&#10094;</a>
    <a class="forward" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="column">
      <img class="demo" src="infographics/protest_before_thumb2.png" onclick="currentSlide(1)" alt="WHAT TO BRING TO A PROTEST">
    </div>
     <div class="column">
      <img class="demo" src="infographics/protest_bring_thumb2.png" onclick="currentSlide(1)" alt="WHAT TO BRING TO A PROTEST">
    </div>
     <div class="column">
      <img class="demo" src="infographics/protest_wear_thumb2.png" onclick="currentSlide(1)" alt="WHAT TO BRING TO A PROTEST">
    </div>
    <div class="column">
      <img class="demo" src="infographics/protest_do_thumb2.png" onclick="currentSlide(2)" alt="WHAT TO WEAR TO A PROTEST">
    </div>
    <div class="column">
      <img class="demo" src="infographics/protest_violence_thumb2.png" onclick="currentSlide(3)" alt="WHAT TO DO IF POLICE-INSTIGATED VIOLENCE">
    </div>
  </div>
</div>
<h2 class ="chant">Chants!</h2>
<div class="container3">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/oVg7zXyugLA" frameborder="0" class="video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="400" height="200" src="https://www.youtube.com/embed/bcpDnT4A2kg" frameborder="0" class="video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

    <iframe width="400" height="200" src="https://www.youtube.com/embed/DnVJtR4zXjA" frameborder="0" class="video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="400" height="200" src="https://www.youtube.com/embed/m00Hm2UZPP8" frameborder="0" class="video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
